<div>
{{productosCombo()}}
<ul class="list-group">
    <li class="list-group-item"
        *ngFor="let producto of productosAux">
		
        {{producto.nombre}}<br>
        Precio: {{producto.precio}}
    </li>
</ul>

</div>



{{combosVendedor()}}
<ul class="list-group">
    <li class="list-group-item"
        *ngFor="let combo of combosAux"
        (click)="selectCombo(combo)"
        [class.active]="combo === selectedCombo">
        {{combo.nombre}}<br>
        Precio: {{combo.precio}}
    </li>
</ul>