<div class="row">
<div class="col-md-5">
  
    <h2>Vendedores</h2>
    <ul class="list-group">
      <li class="list-group-item"
        *ngFor="let vendedor of vendedores"
        (click)="selectVendedor(vendedor)"
        [class.active]="vendedor === selectedVendedor">
        {{vendedor.name}}
      </li>
    </ul>
    <button class="btn btn-warning" (click)="createNewVendedor()">New</button>
   </div>
   
   <div class="col-md-5 col-md-offset-2">
      <div class="container">
        <vendedor-details
          [vendedor]="selectedVendedor"
          [createHandler]="addVendedor"
          [updateHandler]="updateVendedor"
          [deleteHandler]="deleteVendedor">
        </vendedor-details>
      
      </div>
   </div>
</div>
<!-->
        

<vendedor-details></vendedor-details>
      [vendedor]="selectedVendedor"
      [createHandler]="addVendedor"
      [updateHandler]="updateVendedor"
      [deleteHandler]="deleteVendedor"
</-->
