<div *ngIf="combo" class="row">
  <div class="col-md-15">
    <h3 *ngIf="combo._id">Promoción</h3>
  </div>
</div>

<div *ngIf="combo" class="row">
  <form class="col-md-15">
    <div class="form-group">
      <label for="combo-nombre">Nombre</label>
      <p> {{combo.nombre}}</p>
    </div>
    <div class="form-group">
      <label for="combo-precio">Precio</label>
      <p> {{combo.precio}}</p>
    </div>
    <div class="form-group">
      <label for="combo-detalle">Detalle</label>
      <p> {{combo.detalle}}</p>
    </div>
    <div class="form-group">
      <label>Productos</label>
        <!--combo-list
            [vendedor]=vendedor>
        </combo-list-->
    </div>
  </form>
</div>