
<div *ngIf="combo" class="row">
  <div class="col-md-12">
    <h2 *ngIf="combo._id">Promoción</h2>
  </div>
</div>

<div *ngIf="combo" class="row">
  <form class="col-md-12">
    <div class="form-group">
      <label for="combo-nombre">Nombre</label>
      <p> {{combo.nombre}}</p>
    </div>
    <div class="form-group">
      <label for="combo-precio">Precio</label>
      <p> {{combo.precio}}</p>
    </div>
    <div class="form-group">
      <label for="combo-detalle">Detalle</label>
      <p> {{combo.detalle}}</p>
    </div>
    <div class="form-group">
      <label>Productos</label>
        <!--combo-list
            [vendedor]=vendedor>
        </combo-list-->
    </div>
    <button class="btn btn-primary" *ngIf="!vendedor._id" (click)="createVendedor(vendedor)">Create</button>
    <button class="btn btn-info" *ngIf="vendedor._id" (click)="updateVendedor(vendedor)">Update</button>
    <button class="btn btn-danger" *ngIf="vendedor._id" (click)="deleteVendedor(vendedor._id)">Delete</button>
  </form>
</div>