
<div *ngIf="vendedor" class="row">
  <div class="col-md-12">
    <h2 *ngIf="vendedor._id">Perfil</h2>
  </div>
</div>

<div *ngIf="vendedor" class="row">
  <form class="col-md-12">
    <div class="form-group">
      <label for="vendedor-name">Nombre</label>
      <p> {{vendedor.name}}</p>
    </div>
    <div class="form-group">
      <label for="vendedor-telefono">Teléfono</label>
      <p> {{vendedor.telefono}}</p>
    </div>
    <div class="form-group">
      <label for="vendedor-cant_prod">Cantidad de productos</label>
      <p> {{vendedor.cant_prod}}</p>
    </div>
    <div class="form-group">
      <label for="vendedor-cant_prom">Cantidad de promociones</label>
      <p>{{vendedor.cant_prom}}</p>
    </div>
    <div class="form-group">
      <label for="vendedor-calif">Calificación</label>
      <div style="#ffff00" size="4">
        <strong> {{vendedor.calif}}</strong>
      </div>
    </div>
    <div class="form-group">
      <label>Promociones</label>
        <combo-list
            [vendedor]=vendedor>
        </combo-list>
    </div>
    <button class="btn btn-primary" *ngIf="!vendedor._id" (click)="createVendedor(vendedor)">Create</button>
    <button class="btn btn-info" *ngIf="vendedor._id" (click)="updateVendedor(vendedor)">Update</button>
    <button class="btn btn-danger" *ngIf="vendedor._id" (click)="deleteVendedor(vendedor._id)">Delete</button>
  </form>
</div>