<div *ngIf="vendedor" class="row">
  <div class="col-md-12">
    <h2 *ngIf="vendedor._id">Vendedor Details</h2>
    <h2 *ngIf="!vendedor._id">New Vendedor</h2>
  </div>
</div>

<div *ngIf="vendedor" class="row">
  <form class="col-md-12">
    <div class="form-group">
      <label for="vendedor-name">Name</label>
      <input class="form-control" name="vendedor-name" [(ngModel)]="vendedor.name" placeholder="Name"/>
    </div>
    <div class="form-group">
      <label for="vendedor-apellidos">Apellidos</label>
      <input class="form-control" name="contact-apellidos" [(ngModel)]="vendedor.apellidos" placeholder="Apellidos"/>
    </div>
    <button class="btn btn-primary" *ngIf="!vendedor._id" (click)="createVendedor(vendedor)">Create</button>
    <button class="btn btn-info" *ngIf="vendedor._id" (click)="updateVendedor(vendedor)">Update</button>
    <button class="btn btn-danger" *ngIf="vendedor._id" (click)="deleteVendedor(vendedor._id)">Delete</button>
  </form>
</div>