<div class="col-md-5">
    <combo-list></combo-list>
</div>
<div *ngIf="vendedor" class="row">
  <div class="col-md-12">
    <h2 *ngIf="vendedor._id">Vendedor Details</h2>
    <h2 *ngIf="!vendedor._id">New Vendedor</h2>
  </div>
</div>

<div *ngIf="vendedor" class="row">
  <form class="col-md-12">
    <div class="form-group">
      <label for="vendedor-id">Identificación</label>
      <input class="form-control" name="vendedor-id" [(ngModel)]="vendedor.id" placeholder="Identificacion"/>
    </div>
    <div class="form-group">
      <label for="vendedor-name">Nombre</label>
      <input class="form-control" name="vendedor-name" [(ngModel)]="vendedor.name" placeholder="Name"/>
    </div>
    <div class="form-group">
      <label for="vendedor-telefono">Teléfono</label>
      <input class="form-control" name="vendedor-telefono" [(ngModel)]="vendedor.telefono" placeholder="Telefono"/>
    </div>
    <div class="form-group">
      <label for="vendedor-cant_prod">Cantidad de productos</label>
      <input class="form-control" name="vendedor-cant_prod" [(ngModel)]="vendedor.cant_prod" placeholder="CantidadProd"/>
    </div>
    <div class="form-group">
      <label for="vendedor-cant_prom">Cantidad de promociones</label>
      <input class="form-control" name="vendedor-cant_prom" [(ngModel)]="vendedor.cant_prom" placeholder="CantidadProm"/>
    </div>
    <div class="form-group">
      <label for="vendedor-calif">Calificación</label>
      <input class="form-control" name="vendedor-calif" [(ngModel)]="vendedor.calif" placeholder="Calificacion"/>
    </div>
    <div class="form-group">
      <label>Promociones</label>
      
    </div>
    <button class="btn btn-primary" *ngIf="!vendedor._id" (click)="createVendedor(vendedor)">Create</button>
    <button class="btn btn-info" *ngIf="vendedor._id" (click)="updateVendedor(vendedor)">Update</button>
    <button class="btn btn-danger" *ngIf="vendedor._id" (click)="deleteVendedor(vendedor._id)">Delete</button>
  </form>
</div>